/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #121212;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h1 span {
    color: #ccc;
    display: block;
    font-size: 3rem;
}

.buttons {
    margin: 20px 0;
}

.btn, .btn-outline {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn {
    background-color: #fff;
    color: #121212;
    border: none;
}

.btn-outline {
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}

.btn:hover, .btn-outline:hover {
    background-color: #ccc;
    color: #121212;
}
